<div id="fale-conosco" class="w3-container">
    <h1 class="w3-center w3-jumbo" style="margin-bottom:90px">Fale Conosco</h1>

    <p><input class="w3-input w3-padding-16 w3-border" placeholder="Seu Nome" required="" name="Nome" type="text"></p>
    <p><input class="w3-input w3-padding-16 w3-border" placeholder="Seu Email" required="" name="Email" type="text"></p>
    <p><input class="w3-input w3-padding-16 w3-border" placeholder="Escreva Sua Mensagem" required="" name="Mensagem" type="text"></p>
    <p><button class="w3-button w3-light-grey w3-block" type="submit">ENVIAR MENSAGEM</button></p>

</div>