<header class="masthead">
    <div class="overlay">
        <div class="container">
            <h1 class="display-1 text-white">TABALATO</h1>
            <h2 class="display-4 text-white">Restaulante</h2>
        </div>
    </div>
</header>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 order-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/Content/img/chines.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6 order-1">
                <div class="p-5">
                    <h2 class="display-4">O melhor Japa da cidade!</h2>
                    <p>O restaurante Tabalato é o maior e mais conceituado "Japa" da cidade. Com tradição e extrema dedicação, sempre oferecemos o melhor para nossos clientes.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/Content/img/chef.jpg" alt="Awey">
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-5">
                    <h2 class="display-4">Os melhores Chefes</h2>
                    <p>Nosso elenco de profissionais conta com os melhores e mais conceituados chefes de cozinha da região. Com pratos inovadores que vão te dar água na boca! </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 order-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="~/Content/img/sushi.jpg" alt="sushi">
                </div>
            </div>
            <div class="col-md-6 order-1">
                <div class="p-5">
                    <h2 class="display-4">Pratos Inovadores</h2>
                    <p>Nosso cardápio é o mais completo da região, feitos com os produtos de mais alta qualidade e com toda tradição do melhor restaurante japonês da cidade. Clique <a href="#">aqui</a> para conhece-lo.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-centered" >
                <h2 class="display-4 text-center">Encontre-nos!</h2>
                <br />
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.0718129435813!2d-46.79452848502284!3d-23.529919384698527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ceffac6b4e3953%3A0x5c1357c5581b1850!2sAv.+Ol%C3%A1vo+Bilac%2C+47+-+Km+18%2C+Osasco+-+SP%2C+06190-150!5e0!3m2!1spt-BR!2sbr!4v1506000978617" width="600" height="450" frameborder="0" style="border:0; width:100%;" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
