<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="p-5">
                    <h1 class="display-4">Sobre Nós</h1>
                    <p class="display-2">
                        O Tabalato é um restaurante japonês

                        cuja proposta é conciliar a culinária tradicional e contemporânea,

                        sob o comando do suhiman Toninho Rodrigues.

                        Fundado em 1997, em Osasco - SP.

                        O espaço moderno e confortável faz o cenário de uma proposta quase intimista,

                        buscando sempre o melhor desempenho e satisfação dos clientes.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>