<h2>SobreNos</h2>

O Tabalato é um restaurante japonês

cuja proposta é conciliar a culinária tradicional e contemporânea,

sob o comando do suhiman Toninho Rodrigues.

Fundado em 1997, em Osasco - SP.

O espaço moderno e confortável faz o cenário de uma proposta quase intimista,

buscando sempre o melhor desempenho e satisfação dos clientes.
