<video poster="~/Content/img/sushi10.jpg" id="bgvid" playsinline autoplay muted loop>
    <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
    <source src="~/Content/video/bg-asian.mp4" type="video/mp4">
</video>
<div id="video-opacity"></div>
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-10 col-md-8 col-centered">
                <div class="p-5 text-center">
                    <h1 class="display-4">Sobre Nós</h1>
                    <hr />
                    <p class="display-5">
                        O Tabalato é um restaurante japonês

                        cuja proposta é conciliar a culinária tradicional e contemporânea,

                        sob o comando do suhiman Toninho Rodrigues.

                        Fundado em 1997, em Osasco - SP.

                        O espaço moderno e confortável faz o cenário de uma proposta quase intimista,

                        buscando sempre o melhor desempenho e satisfação dos clientes.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>